@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}


h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 30px 80px;
}

.section-m1 {
    margin: 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 13px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #000;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* ============ Navbar ================ */

.logo {
    width: 100px;
}

/* ============= Header Start ============== */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 20px 80px;
    /* background: #E3E6F3; */
    background: #f5f8ff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 23px;
    position: relative;
    top: 10px;
}

#navbar li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
    border-bottom: 2px solid #088178;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#header .search-box input {
    width: 300px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 20px;
    outline: none;
    background-color: #f5f8ff;
    margin-right: 20px;
}

/* ============= Head Section ================ */

.carousel-inner img {
    width: 100%;
    height: 650px !important;
    margin-bottom: -325px;
    background-attachment: fixed;
}

.carousel-inner .hero-text {
    position: relative;
    left: 100px;
    bottom: 150px;
}

.hero-text h4 {
    padding-bottom: 15px;
}

.hero-text h1 {
    color: #088178;
    font-weight: bold;
}

.hero-text button {
    background-image: url(../image/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.video-part .video{
    width: 100%;
    height: 100%;
}

.video-part .video video{
    width: 100%;
    height: 100%;
    /* border-radius: px; */

}

/* =============== Brand Section ================ */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-bottom: -60px;
}

#feature .fe-box {
    width: 150px;
    padding: 25px;
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    border-radius: 4px;
    margin: 15px 0;
    background-color: #f5f8ff;
}

#feature .fe-box:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
}

/* ============ Product =========== */
.product {
    position: relative;
    width: 23%;
    min-width: 280px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 0;
}

.product .content {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -webkit-box-align: left !important;
    -ms-flex-align: left !important;
    align-items: left !important;
    line-height: 1;
    background-color: #fff;
    padding: 10px 0;
}

.product .content .category a {
    color: #606060 !important;
    font-size: 15px !important;
}

.product .content .title a {
    padding-top: 5px;
    color: #1a1a1a;
    font-size: 18px;
}

.pro .des {
    text-align: left;
    padding: 10px 0;
}

.pro .des span {
    color: #606060;
    font-size: 15px;
    padding-left: 10px;
}

.pro .des h5 {
    padding-top: 5px;
    color: #1a1a1a;
    font-size: 18px;
    padding-left: 10px;
}

.pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
    padding-left: 3px;
}

.pro .des h4 {
    padding-top: 7px;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #088178;
}

.pro img {
    width: 100% !important;
    border-radius: 20px !important;
}

.pro .cart {
    width: 50px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: #088178;
    position: absolute;
    bottom: 20px;
    right: 10px !important;
    font-size: 23px;
}

.pro .heart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: #000;
    position: absolute;
    bottom: 20px;
    right: 65px;
    font-size: 23px;
}

.pro .heart2 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: #ef3636;
    position: absolute;
    bottom: 20px;
    right: 105px;
    font-size: 23px;
}

.product .actions .action {
    background-color: #fff !important;
}

.pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro img {
    width: 100%;
    border-radius: 20px;
}

/* =============== Banner =========== */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../image/banner/cart.jpg);
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0,0.2) !important; */
}

#banner h2 span {
    color: #ef3636;
}

#banner h2 {
    color: #fff;
    font-size: 55px;
    font-weight: bold;
}

#banner button:hover {
    background: #088178;
    color: #fff;
}

/* =========== 2 Side Banner ============ */

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../image/banner/1.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url(../image/banner/2.jpg);
}


#sm-banner h4 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

#sm-banner h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../image/banner/3.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url(../image/banner/4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(../image/banner/5.jpg);
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

/* ====================== newsletter ===================== */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../image/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter h4 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* ================== FOOTER ================= */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

footer .logo img {
    width: 120px;
    margin-bottom: 10px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 5px;
}

footer .logo p {
    margin-bottom: -10px;
}

footer a {
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 20px;
    cursor: pointer;
}

footer .install .row img {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

/* =================== Shop =========================== */
.text-center {
    text-align: center!important;
}




/* ===================== Start Media Query ====================== */
@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.7s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile a,
    i {
        color: #000;
        font-size: 23px;
        padding-left: 15px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000;
        font-size: 15px;
    }

    .lg-bag {
        display: none;
    }

    .hero-text {
        position: relative;
        left: 10px;
    }

    #brand {
        justify-content: center;
    }

    #brand .row {
        width: 700px;
        height: 100px;
        padding-left: 100px;
        margin-bottom: 150px;
        /* padding-bottom: 0px 0px 0px 0px; */
        /* margin: 15px 15px; */
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }

    footer .logo img {
        width: 80px;
    }

    #form-details {
        padding: 40px;
    }

    /*===================== Single Product =================== */
    #prodetails {
        display: flex;
        margin: 10px 5px 20px 5px !important;
    }

    #prodetails .single-pro-image {
        width: 100% !important;
    }

    #prodetails .single-pro-details {
        width: 100% !important;
    }

}

@media (max-width:477px) {

    #mobile a,
    i {
        font-size: 17px;
    }

    #mobile {
        padding-left: 115px;
    }

    #header .logo {
        width: 80px;
        position: absolute;
        left: 0;
        bottom: 20px;
    }

    .carousel-item img {
        height: 450px;

    }

    .hero-text {
        display: none;
    }

    #feature {
        display: none;
    }

    #product1 h2 {
        font-size: 35px;
        margin-top: -20px;
        margin-bottom: -25px;
    }

    #product1 .pro {
        margin-top: -20px;
        margin-bottom: 40px;
    }

    #banner {
        height: 24vh;
        margin-bottom: 71px;
    }

    #banner h2 {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }

    button.normal {
        font-size: 10px;
        padding: 10px 15px;
        margin-bottom: 20px;
    }

    #product1 .pro {
        width: 100%;
    }

    #sm-banner {
        margin-top: -50px;
    }

    #sm-banner .banner-box {
        width: 100px;
        height: 40vh;
    }

    .section-p1 {
        padding: 20px 30px;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter button {
        height: 51px;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    /*===================== Single Product  =================== */
    #prodetails {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px !important;
    }

    #prodetails .single-pro-image {
        width: 100% !important;
    }

    #prodetails .single-pro-details span {
        display: flex;
        color: rgba(0, 0, 0, 0.7);
        font-weight: bold;
    }

    #prodetails .single-pro-details {
        width: 100% !important;
    }

    .section-p1 {
        padding: 10px 10px !important;
    }


    /* ============= Contact responsive page ========== */
    #contact-details {
        flex-direction: column !important;
    }

    #contact-details .details {
        width: 100% !important;
    }

    #form-details {
        margin: 10px !important;
        padding: 30px 10px !important;
        flex-wrap: wrap !important;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

}

#page-header h2,
#page-header p {
    color: #fff;
}

/* ==================== pagination ====================== */

#pagination {
    text-align: center;
    margin-bottom: 40px;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 25px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

/* ================= Single Product =================== */
#prodetails {
    display: flex;
    margin: 10px 100px 20px 100px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.small-img-col {
    flex-basis: 24%;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
    padding-left: 50px;
}

#prodetails .single-pro-details h4 {
    font-size: 30px;
    padding: 10px 0 0px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
    font-weight: 600;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: #fff;
}

#prodetails .single-pro-details span {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-image {
    width: 50%;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

/* ================ About Page ================= */
#page-header.about-header {
    background-image: url(../image/banner/about-banner.png);
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

/* ================== Contact Page ================= */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;

}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding: 15px;
}

#contact-details li {
    list-style: none;
    display: flex;
    padding: 5px;
}

#contact-details li i {
    font-size: 14px;
    padding-right: 10px;
}

#contact-details li i p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    margin-top: 260px;
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


