{% extends 'master.html' %}
{% block content %}
 <section id="page-header" class="about-header">
    <center><h2>#KnowUs</h2></center>

    <center><p>Lorem ipsum dolor sit amet consectetur</p></center>
 </section>

 <section id="about-head" class="section-p1">
    <img src="static/image/banner/a6.jpg" alt="">
    <div>
        <h2>Who We Are?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, molestias distinctio aliquid, aliquam totam autem nihil, sed minima facilis repellat fuga asperiores fugit modi reiciendis laudantium voluptatum dignissimos quis! Cum, error quas. Numquam officiis hic odio pariatur perferendis consequatur ullam porro! Soluta eligendi sequi in ut culpa, molestias quaerat officiis dignissimos, vero error minima, expedita illum labore nesciunt esse deleniti aliquid numquam facere magni quo? Consequatur inventore dolorem hic nobis quae quisquam praesentium animi? Mollitia ipsum nobis cupiditate necessitatibus amet odio itaque similique laudantium minima nemo eveniet delectus qui blanditiis deleniti quia saepe, ratione dolor alias ullam corrupti vel provident.</p>

        <abbr title="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure temporibus voluptatem similique odit autem veritatis doloribus</abbr>

        <br><br>

        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum nihil commodi esse sint iusto eos beatae molestiae magnam odit accusantium.</marquee>
    </div>
 </section>

 {% endblock %}
