{% extends 'master.html' %}


{% block content %}
{% load static %}
<!-- Thank You area start -->
<div class="thank-you-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="inner_complated">
                    <div class="img_cmpted"><img src="{% static 'image/payment_done.gif' %}" alt=""></div>
                    <h6 class="dsc_cmpted">Thank you for ordering in our store. You will receive a confirmation
                        email shortly.</h6>
                    <div class="btn_cmpted">
                        <a href="/" class="shop-btn" title="Go To Shop">Continue Shopping </a>
                    </div>
                </div>
                <div class="main_quickorder text-align-center" style="margin-bottom: 100px;">
                    <h3 class="title">Call Us for Quick Order</h3>
                    <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+01234567890" id="typewriter_num">022 424 121 444</a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
